.header-wrapper{
	width:100%;
	height:82px;
	background-color:#FFFFFF;
	border-bottom:1px solid #EBEBEB;
	line-height:20px;
}
.logo{
	 margin:30px 0px 20px 350px;
	 float: left;
}

.brand{
	height:30px;
	line-height:16px;
	margin:30px 0px 20px 20px;
	border-left: 2px solid #eaeaea;
	padding: 0 0 0 10px;
	color: #bbb;
	float: left;
}
.site-navbar{
	float: right;
	font-size: 18px;
    margin:36px 500px 20px 20px;
}
.site-navbar li{
	position: relative;
	float: left;
}
.site-navbar li:hover{z-index: 2}
.site-navbar a{
	display: block;
	padding: 0 15px;
	color: #666;
}
.site-navbar li:hover > a,
.site-navbar li.active a:hover,
.site-navbar a:hover{
	color: #390;
}

.site-navbar li.active > a{
	color: #16bc5c;
}

.site-navbar .fa{width: 18px;}
.site-navbar .fa-angle-down{width: 11px;}

.topbar .fa{width: 14px;}
.topbar .fa-angle-down{width: 9px;}
.topbar{
	position: absolute;
	top: -39px;
	left: 0;right: 0;
	margin-bottom: 20px;
	margin-right: -15px;
	color: #999;
}
.topbar a{
	color: #999;
}
.topbar a:hover{
	color: #45B6F7;
}
.topmenu{
	float: right;
	height:50px;
}
.topmenu li{
	position: relative;
	float: left;
}
.topmenu li:hover{z-index: 2}
.topmenu a{
	display: block;
	padding: 0 15px;
	color: #999;
}
.topmenu li:hover > a,
.topmenu li.active a:hover,
.topmenu a:hover{
	color:  #16bc5c;
}

.topmenu li.active > a{
	color: #45B6F7;
}
.topmenu .red{color: #FF5E52;display: inline-block;}
.topmenu .red:hover{color: #FF5E52;text-decoration: underline;}

.site-nav .sub-menu{display: none;position: absolute;top: 100%;left: 0;background-color: #fff;font-size: 12px;padding: 6px 0;border: 1px solid #ddd;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);line-height: 32px;width: 132px;font-weight: bold;border-radius: 4px;}
.site-nav .sub-menu li{float: none;}
.site-nav .sub-menu a:hover{background-color: #f6f6f6;}
.site-nav li:hover > .sub-menu{display: block;}
.site-nav li:hover .fa-angle-down{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}