.appleItem {
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.apple {
    display: inline-block;
    margin-right: 10px;
}

.info {
    display: inline-block;
}

.name {
    color: #006699;
    font-size: 1.2em;
}

.weight {
    font-size: 1em;
}

.item-btn-div {
    display: inline-block;
    float:right;
    margin-right: 10px;
}

.item-btn-div button {
    color: #fff;
    background-color: #3498DB;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    height: 45px;
    width: 71px;
}

.item-btn-div button:hover {
    background-color: #5DADE2;
}